/* Counter CSS */
* {
  box-sizing: border-box;
}
body {
  counter-reset: num;
  /* border: 20px solid transparent; */
  /* border-image: url("image/img_forest.jpg") 30 round; */
  padding: 10px;
  background: url("/image/BingWallpaper.jpg") center no-repeat fixed;
  background-size: cover;
}
h1 {
  counter-reset: nums;
}

h1::before {
  counter-increment: num;
  content: "Section " counter(num) ": ";
}
h2::before {
  counter-increment: nums;
  content: "Subsection " counter(num) " . " counter(nums) ": ";
}

/* To clear float after an item */
.row::after {
  content: "";
  display: table;
  clear: both;
}
.size {
  width: calc(100% - 100px);
  /* height: calc(100vh - 500px); */
  height: max(50%, 500px);
  /* height: min(70%, 300px); */
  background-color: aquamarine;
}
table {
  width: 80%;
  margin: 50px;
}
table,
th,
td {
  border: 2px solid blue;
  border-collapse: collapse;
  color: rgb(214, 214, 245);
}
th {
  padding: 20px;
  background-color: rgb(6, 71, 6);
  color: white;
}
td {
  text-align: center;
  /* padding: 10px; */
  height: 50px;
  vertical-align: middle;
}
td:hover {
  background-color: rgb(95, 56, 8);
  color: rgb(182, 247, 182);
  cursor: pointer;
}
tr:nth-child(even) {
  background-color: rgb(63, 61, 59);
  color: white;
}
tr:hover {
  background-color: bisque;
  color: rgb(2, 93, 2);
}
.dooricon {
  width: 40px;
  color: blue;
}
.houseIcon {
  width: 40px;
  color: blue;
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}
.firstIcon {
  color: brown;
  width: 40px;
  font-variation-settings: "FILL" 0, "wght" 700, "GRAD" 0, "opsz" 60;
}
.facebookIcon {
  width: 40px;
  color: red;
}
.fa-regular {
  font-size: 40px;
  color: red;
}
.gmailLink {
  padding: 30px;
  font-size: 20px;
  background-color: red;
  color: white;
  text-decoration: none;
}
.gmailLink:hover {
  background-color: rgb(14, 50, 20);
  color: rgb(146, 200, 160);
}

.transform {
  margin: 150px;
  width: 200px;
  height: 100px;
  background-color: yellow;
  border: 1px solid black;
  /* transform: scale(4, 2); */
}
.transform:hover {
  /* transform: scale(2, 7);
  transform: translate(30px, 10px);
  transform: skew(0, 40deg); */
  /* transform: matrix(2, -0.3, 6, 1, 5px, 7px); */
  transform: rotateZ(30deg);
}
