body {
  background-color: rgb(184, 245, 224);
}
h1 {
  color: #161178;
  font-family: "Courier New", Courier, monospace;
}
.heading {
  margin: 0;
  margin-block: 0;
  padding: 30px;
  margin: 30px;
  background-color: wheat;
  border: 2px solid black;
  outline: 10px solid #eb8c8c;
  outline-offset: 20px;
  text-align: center;
}
ul li a {
  text-decoration: none;

  padding: 20px;
  background-color: #161178;
  color: aliceblue;
}
ul li {
  display: inline-block;
}
p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 100px;
  margin-block: 0;
  margin: 30px;
  background-color: rgb(119, 188, 188);
  padding: 20px;
  line-height: 30px;
  word-spacing: 10px;
  letter-spacing: 0.5px;
  text-indent: 50px;
  white-space: nowrap;
}
form {
  border: solid 3px rgb(4, 98, 67);
  border-radius: 10px;
  padding: 40px 50px;
  margin: 40px 70px 50px;
}
.name {
  width: 50%;
  border: none;
  border-bottom: 5px solid green;
  /* padding: 50px; */
  height: 50px;
  font-size: 18px;
  margin: 5px 10px 50px 0px;
}
.gridSystem {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
  justify-content: space-evenly;
  background-color: #eb8c8c;
  height: 700px;
  align-content: space-between;
}
.gridSystem img {
  width: 200px;
  height: 200px;
  padding: 0 50px;
  background-color: #15cc40;
}
.grid1 {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}
