.first {
  font-size: 2em;
  color: red;
  outline: 10px dashed blueviolet;
  border: solid 5px black;
}
.first,
.sec,
.third {
  margin: 30px 0;
  font-size: 2em;
}

.parent {
  border: 2px solid;
  width: 60%;
  margin: auto;
  padding: 20px;
}
.headText {
  text-transform: uppercase;
  text-align: center;
  color: blue;
  font-family: "Sofia";
}
.parent p {
  font-size: 1.2em;
  line-height: 2em;
  letter-spacing: 0.1em;
  word-spacing: 8px;
  text-align: justify;
  font-family: Kanit, "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.heroIcon {
  width: 20px;
  color: blue;
  font-size: 10px;
}
