@keyframes changeBackground {
  0% {
    background-color: red;
  }
  25% {
    background-color: yellow;
  }
  50% {
    background-color: blue;
  }
  100% {
    background-color: green;
  }
}
* {
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
}
header {
  position: fixed;
  display: flex;
  top: 0;
  /* z-index: 1; */
  width: 100%;
  justify-content: space-between;
  color: white;
  background-color: rgb(53, 25, 80);
}
header ul {
  display: flex;
  gap: 20px;
  list-style: none;
}
.mobileView {
  display: none;
}
@media (max-width: 500px) {
  header {
    width: 100%;
  }
  header ul {
    position: absolute;
    flex-direction: column;
    background-color: rgb(81, 55, 106);
    right: 0;
    width: 30%;
    top: 34px;
    padding: 20px;
  }

  #nav {
    display: none;
  }
  #nav li {
    padding: 10px;
  }
  .mobileView {
    display: block;
  }
  /* .mobileView:hover header ul {
    display: block;
  } */
}
.logoSpace {
  display: flex;
  gap: 20px;
}
.logo {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.first {
  position: absolute;
  bottom: 0;
  z-index: -2;
  width: 100%;
  font-size: 2em;
  color: red;
  outline: 10px dashed blueviolet;
  border: solid 5px black;
}
.first,
.sec,
.third {
  margin: 30px 0;
  font-size: 2em;
}

.parent {
  position: relative;
  border: 2px solid;
  z-index: -1;
  width: 60%;
  margin: auto;
  padding: 20px;
}

/* .headText {
  text-transform: uppercase;
  text-align: center;
  color: blue;
  font-family: "Sofia";
} */

.parent p {
  font-size: 1.2em;
  line-height: 2em;
  letter-spacing: 0.1em;
  word-spacing: 8px;
  text-align: justify;
  font-family: Kanit, "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  animation-name: changeBackground;
  animation-duration: 4s;
}

.childElement {
  position: absolute;
  /* top: 0; */
  right: 0;
  bottom: 0;
  font-size: 30px;
  color: brown;
  height: 60vh;
}
.heroIcon {
  width: 20px;
  color: blue;
  font-size: 10px;
}
.overflowing {
  background-color: #0d1d18;
  color: aliceblue;
  width: 200px;
  height: 100px;
  overflow-y: scroll;
  /* float: left; */
  display: inline-block;
  /* margin-right: 20px; */
  resize: both;
  animation-name: changeBackground;
  animation-duration: 3s;
}
.add {
  /* float: right; */
}
@media (max-width: 500px) {
  .overflowing {
    float: none;
    margin: auto;
    width: 100%;
    padding: 10px;
  }
  .add {
    float: none;
  }
}

.displaying {
  /* visibility: hidden; */
}

[name="search"] {
  margin: 40px;
  width: 50%;
  background-color: aquamarine;
  padding: 20px;
  border-radius: 50px;
  font-size: 20px;
  background-image: url(../image/searchIcon.svg);
  background-repeat: no-repeat;
  padding-left: 60px;
  background-position: 10px 10px;
}
[name="area"] {
  width: 50%;
  height: 100px;
  margin: 30px;
  resize: none;
}

.headShadow {
  text-shadow: 0px 0px 5px blueviolet;
  font-family: sans-serif;
}
.move {
  width: 300px;
  height: 100px;
  background-color: yellow;
  border: 1px solid black;
  transition: 2s;
  /* transition-delay: 1s; */
  margin: 100px;
}
.move:hover {
  /* transform: translate(50px, 50px); */
  transform: skew(20deg, 50deg);
}
.page {
  padding: 20px;
  background-color: #e4f6f0;
  column-rule: dotted 10px blue;
  column-width: 300px;
  column-gap: 50px;
}
textarea {
  margin: 50px;
  height: 100px;
  width: 500px;
  resize: horizontal;
}
.textarea {
  margin: 50px;
  height: 100px;
  width: 500px;
  border: solid 1px;
  overflow: auto;
  resize: both;
}
