/* this is  the body styling */
/* body {
  font-family: "Montserrat", Arial, Helvetica, sans-serif, "Lucida Sans";
  color: blue;
  font-size: 2em;
  font-style: italic;
  font-variant: small-caps;
}
h1 {
  font-family: Doto;
}
h2 {
  font-family: "Noto Sans KR";
}
h6 {
  font-size: 50px;
}
h4 {
  color: aqua;
}
p {
  background-color: aquamarine;
} */

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  position: relative;
  background: linear-gradient(45deg, blue, red, purple);
}
.contain {
  position: relative;
  top: 100px;
}
.links {
  background-color: brown;
  padding: 20px;
}
.links a {
  text-decoration: underline;
  /* text-decoration: o; */
  color: white;
  font-size: 20px;
}
.links a:hover {
  text-decoration: line-through;
}
.table,
th,
td {
  border: 2px solid blue;
  border-collapse: collapse;
}
.table {
  width: 100%;
}
th,
td {
  padding: 20px;
}
/* th {
  text-align: right;
} */
td {
  text-align: center;
}
tr:hover {
  background-color: #19f1a6;
  color: red;
}
tr:first-child {
  background-color: #0b5139;
  color: white;
  font-size: 20px;
}
tr:nth-child(odd) {
  background-color: #818281;
}
.mylist {
  width: 100%;
  /* position: fixed; */
  background-color: #0b5139;
  color: yellow;
  padding: 30px;
  top: 0;
  z-index: 2;
  margin: 0;
}
li {
  cursor: pointer;
  display: inline;
  padding: 5px 20px;
}
li:hover {
  background-color: #19f1a6;
  color: rgb(81, 56, 25);
}
.tableClosure {
  overflow: auto;
}
.headLink {
  display: inline;
}
.digitalImage {
  /* position: fixed; */
  /* top: 100px;
  right: 0; */
  display: block;
  margin: 10px;
  width: 500px;
}
.para10 {
  background-color: #0b5139;
  color: aqua;
  width: 400px;
  height: 300px;
  font-size: 30px;
  overflow: auto;
}

.floater {
  /* float: right; */
  z-index: 21;
  margin: 20px;
}
.floater img {
  width: 200px;
}
.rootId2 {
  /* position: absolute; */
  bottom: 50px;
  padding: 20px;
  border: 3px solid blue;
  background: rgba(176, 7, 7, 0.16);
  /* opacity: 0.2; */
}
p::after {
  content: " gfhgfhgggg ";
}

/* [class] {
  padding: 30px;
  background-color: #19f1a6;
} */
#third {
}
[alt="mark"] {
  background-color: #0b5139;
  padding: 100px;
}
.formParent {
  width: 50%;
  margin: auto;
}
.formParent h3 {
  font-size: 2em;
  text-align: center;
}
input[type] {
  padding: 20px;
  background-color: #bff5f5;
  width: 90%;
  margin: 20px;
  border-radius: 20px;
  font-size: 20px;
}
input[type="button"] {
  background-color: #3d3e3d;
  color: aliceblue;
}
input[type="checkbox"],
input[type="radio"] {
  width: 20%;
}
input[type]:hover {
  background-color: #f1b3d9;
}
