/* this is  the body styling */
/* body {
  font-family: "Montserrat", Arial, Helvetica, sans-serif, "Lucida Sans";
  color: blue;
  font-size: 2em;
  font-style: italic;
  font-variant: small-caps;
}
h1 {
  font-family: Doto;
}
h2 {
  font-family: "Noto Sans KR";
}
h6 {
  font-size: 50px;
}
h4 {
  color: aqua;
}
p {
  background-color: aquamarine;
} */

